* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #0075ff;
  --btn-color: white;
  --text-color: black;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
